<div class="<%= cycle(:odd, :even) %>">
  <%= link_to(group.name_en, group.festival_id != nil ? festival_group_path(group.festival, group):section_group_path(group.section, group), :class => :group) %>
</div>
