<div id="toolbar">
  <%= link_to("Edit section", edit_festival_section_path(@section.festival,@section), :class => :edit) %>
  <%= link_to("New group", new_section_group_path(@section), :class => :add) %>
</div>
<p id="notice"><%= notice %></p>
<div id="items">
  <% if @section.groups.any? %>
    <%= render :partial => 'groups/list', :locals => {:groups => @section.groups} %>
  <% else %>
    Empty section
  <% end %>
</div>

