<div id="toolbar">
	<%=link_to("New person", new_person_path) %>
</div>
<% if Organization.people.any? %>
	<%=render :partial => 'people/list', :locals => {:people => Organization.people} %>
<%else%>
        Empty organization
<%end%>
