<div id="toolbar">
  <%= link_to("New festival", new_organization_festival_path(:organization_id => 1), :class => :add) %>
  <%= link_to("New group", new_organization_group_path(:organization_id => 1), :class => :add) %>
  <%= link_to("Roles", roles_path, :class => :group) %>
</div>
<div id="items">
  <% if Organization.groups.any? || Organization.festivals.any? %>
    <%#= render :partial => 'groups/list', :locals => {:groups => Organization.groups} %>
    <%= render :partial => 'festivals/list', :locals => {:festivals => Organization.festivals} %>
  <% else %>
    Empty festival
  <% end %>
</div>  
