<div id="toolbar">
  <%= link_to("New role", new_role_path, :class => :add) %>
</div>
<div id="items">
<table>
<% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.name, edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>
