<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
<p>
  <b>Users:</b>
<ul>
  <% @users.each do |u| %>
    <li><%= link_to(u.name, user_path(u)) %></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
